@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
/* font-family: 'Do Hyeon', sans-serif; */

/* Header */

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.Header .cate {
  display: flex;
  justify-content: space-between;
  width: 20%;
  color: black;
}

/* Content */

.Content {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
}

/* PageInfo */

.PageInfo h1 {
  font-size: 50px;
  font-family: "Do Hyeon", sans-serif;
}

.PageInfo p {
  margin-bottom: 80px;
}

/* ItemList */

.ItemList {
  text-align: right;
}

.ItemList .ControlMenu {
  border: none;
}

/* .ItemList .ControlMenu option {
  display: block;
  padding: 100px;
} */

.ItemList .Item_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.ItemList .Item_wrapper .Item {
  width: 25%;
  padding: 30px;
  box-sizing: border-box;
}

.ItemList .Item_wrapper .Item div .itemText {
  text-align: center;
}

.ItemList .Item_wrapper .Item div {
  cursor: pointer;
}

.ItemList .Item_wrapper .Item img {
  width: 100%;
}
