@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* font-family: "Pretendard-Regular"; */
/* font-family: 'Do Hyeon', sans-serif; */

.App {
  font-family: "Pretendard-Regular";
}

/* Header */

.Header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.Header .headerLeft {
  margin-right: 40px;
}
.Header .headerCenter {
  display: flex;
  justify-content: left;
  flex-grow: 1;
  color: black;
}
.Header .headerCenter .cateLink {
  text-decoration: none;
  color: black;
  margin-right: 30px;
  font-weight: bold;
  font-size: 18px;
}

.Header .headerCenter .cateLink:hover {
  color: #2ac1bc;
}

.Header .headerRight {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.Header .headerRight span {
  display: flex;
  align-items: center;
}

.Header .headerRight > * {
  margin-left: 20px;
  font-size: 24px;
  cursor: pointer;
}
.Header .headerRight .MyButton {
  border: 2px solid rgb(68, 68, 68);
  border-radius: 17px;
  font-size: 14px;
  margin-left: 20px;
  font-weight: bold;
  padding: 5px 15px;
  color: rgb(68, 68, 68);
  cursor: pointer;
}

/* Footer */

.Footer {
  font-family: "Pretendard-Regular";
  background-color: #f7f7f7;
  padding: 80px 0;
}

.Footer .footerHeader {
  color: #555;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  margin-left: 20%;
}
.Footer .footerHeader div {
  margin: 10px;
}

.Footer .footerContent {
  color: #999;
  width: 60%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 20%;
  font-size: 14px;
}

.Footer .footerContent p {
  margin: 3px;
  padding: 0 10px;
  border-right: 0.5px solid #ddd;
}

/* content */

.content {
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 120px;
  padding-bottom: 100px;
}

/* PageInfo */

.PageInfo h1 {
  font-size: 50px;
  font-family: "Do Hyeon", sans-serif;
}

.PageInfo p {
  margin-bottom: 80px;
}

/* ItemList */

.ItemList {
  text-align: right;
}

.ItemList .ControlMenu {
  border: none;
}

.ItemList .Item_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.ItemList .Item_wrapper .Item {
  width: 25%;
  padding: 30px;
  box-sizing: border-box;
}

.ItemList .Item_wrapper .Item div .itemText {
  text-align: center;
}

.ItemList .Item_wrapper .Item div {
  cursor: pointer;
}

.ItemList .Item_wrapper .Item img {
  height: 300px;
  width: 100%;
}

/* MyButton */

.MyButton {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
}

/* DetailHeader */
.DetailHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.DetailHeader .detailHeaderCenter img {
  width: 300px;
  height: 300px;
}

.DetailHeader .detailHeaderRight .deliInfo {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  /* margin: 10px; */
}
.DetailHeader .detailHeaderRight .deliInfo p {
  color: #999;
}
.DetailHeader .detailHeaderRight .detailCount_wrapper {
  margin: 10px 5px;
  padding: 10px 5px;
  background-color: #fafafa;
  border-radius: 6px;
}
.DetailHeader .detailHeaderRight .controller {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.DetailHeader .detailHeaderRight .controller input {
  width: 30px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 5px;
  margin: 0px 3px;
}
.DetailHeader .detailHeaderRight .price_wrapper {
  display: flex;
  justify-content: space-between;
}
.DetailHeader .detailHeaderRight .button_wrapper {
  display: flex;
}

.DetailHeader .detailHeaderRight .button_wrapper .cart .MyButton {
  padding: 15px;
  font-size: 20px;
  margin-right: 10px;
}
.DetailHeader .detailHeaderRight .button_wrapper .buy {
  flex-grow: 1;
}
.DetailHeader .detailHeaderRight .button_wrapper .buy .MyButton {
  width: 100%;
  height: 100%;
  background-color: #2ac1bc;
  color: white;
  font-size: 15px;
}

/* DetailContent */
.Detail .DetailContent .tab {
  width: 100%;
  padding: 14px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.Detail .DetailContent .tab div {
  margin: 0 auto;
  text-align: center;
  width: 20%;
  height: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 6px 10px;
}

.Detail .DetailContent {
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.Detail .DetailContent > img {
  margin: 10px 0;
}

/* Login */

.Login .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.Login .content .input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.Login .content .input_wrapper input {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 400px;
  height: 60px;
  margin: 10px 0;
  padding: 5px 20px;
}

.Login .content .input_wrapper .MyButton {
  background-color: #2ac1bc;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 60px;
  margin-top: 60px;
  cursor: pointer;
  width: 440px;
}

.Login .content .input_wrapper .MyButton:hover {
  background-color: white;
  color: #2ac1bc;
  border-color: #2ac1bc;
}

.Login .content .newId {
  display: flex;
  margin-top: 30px;
  color: #777777;
}

.Login .content .newId .center {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ccc;
  padding: 0 10px;
  margin: 0 10px;
}
.Login .content .newId .signUpButton {
  cursor: pointer;
}

/* Admin */

.Admin .content {
  display: flex;
  justify-content: space-around;
}

.Admin .content > div {
  border: 1px solid #ddd;
  padding: 30px;
}

.Admin .content button {
  margin: 10px;
}

.Admin .content input,
.Admin .content select {
  margin: 4px;
}

.Admin .removeItem .remove_wrapper {
  display: flex;
  justify-content: space-between;
}

.Admin .content .checkUserInfo .userInfo {
  display: flex;
  justify-content: space-around;
}

/* MyPage */

.MyPage .content {
  width: 70%;
  margin: 0 auto;
}

.MyPage .content > h2 {
  text-align: center;
  font-size: 30px;
  margin: 80px 0;
}

.MyPage .content .navbarContent_wrapper {
  display: flex;
}

.MyPage .content .navbarContent_wrapper .navbar {
  margin-right: 90px;
}

.MyPage .content .navbarContent_wrapper .navbar > div {
  margin-bottom: 50px;
}

.MyPage .content .navbarContent_wrapper .navbar > div > h3 {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 20px;
}

.MyPage .content .navbarContent_wrapper .navbar > div > div {
  margin: 16px 0;
  cursor: pointer;
}

.MyPage .content .navbarContent_wrapper .navbar > div > div:hover {
  color: #2ac1bc;
}

.MyPage .content .navbarContent_wrapper .myPageContent {
  flex-grow: 1;
}

/* NullInfo */

.NullInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0;
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.NullInfo h1 {
  font-size: 60px;
}

.NullInfo > div {
  font-size: 20px;
}

/* SignUp */

.SignUp .Input,
.SignUp .content button {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 400px;
  height: 60px;
  margin: 10px 0;
  padding: 5px 20px;
  display: block;
}

.SignUp .content button {
  cursor: pointer;
  background-color: #2ac1bc;
  color: white;
  font-size: 15px;
}

/* Search */

.Search .search_wrapper {
  border-bottom: 3px solid black;
  width: 500px;
  margin: 50px auto;
  /* margin: 50px 0px; */
}

.Search .search_wrapper .search {
  font-size: 30px;
  border: none;
  width: 94%;
  padding-bottom: 15px;
  /* padding-bottom: 50px; */
}
.Search .search_wrapper .searchIcon {
  font-size: 24px;
  cursor: pointer;
}

.Search .search_wrapper .search:focus {
  outline: none;
}
/* Board */
.Board h2 {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

/* BoardItem */

.BoardItem {
  width: 80%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  margin: 0 auto;
  cursor: pointer;
}

/* Sidebar */

.Sidebar {
  width: 400px;
  position: fixed;
  right: -500px;
  bottom: 0;
  top: 0;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.Sidebar.on {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 100000px;
  right: 0px;
}

.Sidebar h1 {
  cursor: pointer;
}

.Sidebar .sideContent {
  padding: 0 35px;
}

.Sidebar .x_wrapper {
  font-size: 30px;
  color: grey;
  text-align: right;
  margin-right: 30px;
  margin-top: 30px;
}

.Sidebar .x_wrapper .x {
  cursor: pointer;
}

.Sidebar .cate {
  display: flex;
  flex-direction: column;
}

.Sidebar .cate > * {
  text-decoration: none;
  margin: 5px 0;
  font-weight: bold;
  color: black;
  font-size: 24px;
}

.Sidebar .cateTitle {
  color: grey;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 70px;
}

.Sidebar .cate > *:hover {
  color: #2ac1bc;
}

.Sidebar .userName {
  color: #2ac1bc;
}

.Sidebar .niceTo {
  margin-top: 50px;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
